@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Managent System - EMS</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Employee Management System</h2>
        <p>
            EMS(Employee Management System) is a sample application that
            demonstrates the use of Entity Framework in an
            ASP.NET MVC web application.
        </p>
    </div>
   
</div>